* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

nav {
  width: 100%;
}

.inner-wrapper-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.inner-wrapper-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

nav ul li a {
  background-color: #111;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  display: flex;
}

nav ul li a .demarcator {
  line-height: 30px;
  text-align: center;
  padding-left: 10px;
}

.brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

body {
  background-color: tomato;
}

.green-btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-btn-2 ul {
  list-style: none;
}

.inner-wrapper-2 .background-display-2 {
  margin-right: 13%;
}

.green-btn-2 .btn-changer-2 {
  margin-right: 10%;
}

.background-display-2 p {
  background-color: #c1fead;
  display: block;
  border: 1px solid #111;
  margin-left: 70px;
  padding-top: 25px;
  text-align: center;
  margin-top: 30%;
  color: #111;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700px;
  font-size: 13px;
}

.background-display-2 p .textInput {
  width: 65px;
  margin-left: 6px;
  border: 1px solid #111;
  outline-color: blue;
  outline-width: 1px;
}

.clickable-2 {
  background-color: transparent;
  width: 80px;
  height: 30px;
  margin-top: 8px;
  margin-left: 39%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.black-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-btn-1 ul {
  list-style: none;
}

.green-btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-btn ul {
  list-style: none;
}

.inner-wrapper-1 .background-display {
  margin-right: 13%;
}

.black-btn .btn-changer {
  margin-right: 10%;
}
.background-display p {
  background-color: #111;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  align-items: center;
  margin-left: 70px;
  margin-top: 50px;
  color: #fff;
  width: 250px;
  height: 60px;
  border-radius: 5px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 13px;
}

.clickable {
  background-color: transparent;
  width: 80px;
  height: 30px;
  margin-top: 8px;
  margin-left: 39%;
  border: 1px solid #fff;
  font-size: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

@media all and(min-width: 500) and (max-width: 820px) {
  .background-display-2 p {
    background-color: #c1fead;
    display: block;
    border: 1px solid #111;
    margin-left: 50%;
    padding-top: 25px;
    text-align: center;
    margin-top: 30%;
    color: #111;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700px;
    font-size: 13px;
  }

  .clickable-2 {
    background-color: transparent;
    width: 80px;
    height: 30px;
    margin-top: 8px;
    margin-left: 39%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
  }

  .background-display p {
    background-color: #111;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    align-items: center;
    margin-left: 70px;
    margin-top: 50px;
    color: #fff;
    width: 250px;
    height: 60px;
    border-radius: 5px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 13px;
  }

  .clickable {
    background-color: transparent;
    width: 80px;
    height: 30px;
    margin-top: 8px;
    margin-left: 39%;
    border: 1px solid #fff;
    font-size: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
  }
}

@media all and (min-width: 850) and (max-width: 1280px) {
  .inner-wrapper-1 {
    width: 1000px;
    display: block;
  }

  .inner-wrapper-2 {
    width: 1000px;
    display: block;
  }

  .background-display-2 p {
    background-color: #c1fead;
    display: block;
    border: 1px solid #111;
    padding-top: 25px;
    text-align: center;
    margin-top: 30%;
    color: #111;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700px;
    font-size: 13px;
  }

  .clickable-2 {
    background-color: transparent;
    width: 80px;
    height: 30px;
    margin-top: 8px;
    margin-left: 39%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
  }

  .background-display p {
    background-color: #111;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    align-items: center;
    margin-left: 70px;
    margin-top: 50px;
    color: #fff;
    width: 250px;
    height: 60px;
    border-radius: 5px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 13px;
  }

  .clickable {
    background-color: transparent;
    width: 80px;
    height: 30px;
    margin-top: 8px;
    margin-left: 39%;
    border: 1px solid #fff;
    font-size: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
  }
}
